<!DOCTYPE html>
<html>
<head>
<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
<body>


<p>
<h1 style="align:middle;">Food Ordering System</h1>

<a href="/users/sign_in" class="button">Login</a>
</p>
</body>
</html>